<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style type="text/css">
        body {
            margin: 20px auto;
            max-width:650px;
            line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px;
        }
        h1,h2,h3{line-height:1.2}
        table {min-width: 300px;}
        table, th, td {
            border: 1px solid black;
            padding: 5px;
            width:60%;
        }
        board-elem {
            aspect-ratio: 1 / 1.414;
            height: 60%;
            width: 60%;
            min-width: 300px;
            border: 1px solid #444;
            overflow: scroll;
        }
    </style>
    <title>{{.Title}}</title>
</head>
<body>
    <h1>A Spring '83 Server</h1>

    <table>
        <tr><td>Boards</td><td>{{.NumBoards}}</td></tr>
        <tr><td>TTL (days)</td><td>{{.TTL}}</td></tr>
    </table>

    {{if .AdminBoard}}
    <h2><a href="/{{.AdminBoard.Publisher}}">Admin Board</a></h2>
    <board-elem class="flex-item" id="board-{{.AdminBoard.Publisher}}"></board-elem>
    <script>
        document.getElementById("board-{{.AdminBoard.Publisher}}").attachShadow({mode: 'open'}).innerHTML = {{.ClientCSS}} + {{ .AdminBoard.String}};
    </script>
    {{end}}

    {{if .TestBoard}}
    <h2><a href="{{.TestBoard.Publisher}}">Everchanging Test Board</a></h2>
    <board-elem class="flex-item" id="board-{{.TestBoard.Publisher}}"></board-elem>
    <script>
        document.getElementById("board-{{.TestBoard.Publisher}}").attachShadow({mode: 'open'}).innerHTML = {{.ClientCSS}} + {{ .TestBoard.String}};
    </script>
    {{end}}

    <p>served by <a href="https://github.com/royragsdale/s83">s83d</a></p>
</body>
</html>
